<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>
        <div class="contenedor b-gris">
            <h2 class="welcome-administration">Bienvenido a su panel de administracion!</h2> 
        <div class="admin-home">
            <div class="container-administration b-crear border-r">
                <a href="/products/create">
                    <img src="/images/crear.svg" alt="icono-crear">
                    <p class="c-blanco">Crear un nuevo curso </p>
                </a>
            </div>
            <div class="container-administration b-editar border-r">
                <a href="/products/list">
                    <img src="/images/editar.svg" alt="icono-crear">
                    <p class="c-blanco">Editar/ eliminar un curso ya existente </p>
                </a>
            </div>
            <div class="container-administration b-mensajes border-r">
                <a href="/admin/mensajes">
                    <img src="/images/mensajes.svg" alt="icono-crear">
                    <p class="c-blanco">Ver mensajes</p>
                </a>
            </div>
            <div class="container-administration b-ventas border-r">
                <a href="#">
                    <img src="/images/ventas.svg" alt="icono-crear">
                    <p class="c-blanco">Registro de ventas</p>
                </a>
            </div>
        </div>
    </div>
    </body>
</html>