<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head'); %>
<body>
<div class="container-formRegister container-logRegister b-register">
  <div class="register-container ingresar-container b-blanco shadow1">
    <div class="register">
        <div class="circle-logo b-register">
              <img src="/images/logo.png" alt="Logo-Cursala">
        </div>
            <h2 class="c-celeste">Bienvenid@!</h2>
            <form id="login-form" action="/users/login" method="POST">
              <input id="email-user" type="email" name="email" placeholder="Email" value="<%= body.email ? body.email : ''%>">
              <div style="color: red;"><%= errors.email ? errors.email.msg : ''%></div>
              <input id="password-user" type="password" name="password" placeholder="Contraseña">
              <div style="color: red;"><%= errors.password ? errors.password.msg : ''%></div>
              <input type="checkbox" name="remember" id="remember" class="remember">
              <label class="c-ATransparente" for="remember">Recordame</label>
              <input type="submit" name="submit" class="submit ingresar" value="INGRESAR">
            </form>
    </div>
      <div class="login b-celeste">
        <h2 class="c-blanco">No tengo cuenta</h2>
          <div class="login-items">
              <a class="login-btn" href="/users/registro"><button class="correo"><i class="fa fa-check" aria-hidden="true"></i>Registrarse</button></a>
              <a class="fb-btn"  href="#"><img class="register_media" src="/images/registro_facebook.png" alt="registro twitter"></a>
              <a class="tw-btn" href="#"><img class="register_media" src="/images/registro_twitter.png"></a>
          </div>
      </div>
  </div>
</div>
     
</body>
</html>