<!DOCTYPE html>
<html>
        <%- include('./partials/head'); %>
    <body>
        <%- include('./partials/header'); %>

        <div class="contenedor b-gris">
            <div class="b-blanco shadow1 profile-contenedor border-r">
        
                <div class="user-data">
                    <h1>Hola <%= user.name %>!</h1>
                <p class="campo-perfil">Nombre:</p><p class="dato-usuario"><% user.name %></p>
                <p class="campo-perfil">Email:</p><p class="dato-usuario"><% user.email %></p>
                <img src="<% user.imagen %>" alt="imagen-perfil">
                <div class="boton-editar border-r">
                    <a href="/landing">
                    <p>Cerrar sesion</p> 
                    </a>
                </div>
                </div>
            
            </div>
        </div>
    </body>
</html>