<header>
    <div class="navegacion">
        <nav class="menu" id="menu-navegacion">
        <ul>
            <li id="boton-menu"><a href=""><img class="icono-menu" src="/images/icono-menu.png"></a></li>
            <li class="liMenu"><a href="/products/index">Todos los Cursos</a></li> 
            <li class="liMenu"><a href="/users/perfil">Perfil</a></li>
            <li class="liMenu"><a href="#">Mis Cursos</a></li>
            <li class="liMenu"><a href="/users/carrito">Carrito</a></li>
            <li class="liMenu"><a href="#">Historial de compras</a></li>
            <li class="liMenu" id="openContacto">Contactanos</li>
            <li class="liMenu" id=""><a href="/users/admin/administracion_home">ADMIN</a></li>
        </ul>
        </nav>
    </div>
</header>