<header>
    <div class="navegacion">
        <nav class="menu" id="menu-navegacion">
        <ul>
            <li id="boton-menu"><a href=""><img class="icono-menu" src="/images/icono-menu.png"></a></li> 
            <li class="liMenu"><a href="/users/perfil">Perfil</a></li>
            <li class="liMenu"><a href="/home">Todos los cursos</a></li>
            <li class="liMenu"><a href="#">Cursos adquiridos</a></li>
            <li class="liMenu"><a href="/users/carrito">Carrito</a></li>
            <li class="liMenu"><a href="#">Historial de compras</a></li>
            <li class="liMenu" id="openContacto">Contactanos</li>
        </ul>
        </nav>
    </div>
</header>