<%- include('./partials/header') %>

<h1>Listado de Productos</h1>
<ul>
    <% for(let i = 0; i < product.length; i++){ %>
        <li>
            <a href="/products/list/<%= product[i].id %>">
                <%= product[i].name %>

            </a>
        </li>
    <% } %>
</ul>
